# Dependencies
node_modules

# Build output
dist
dist-ssr
.vite

# Environment files
.env*
!.env.example

# Logs
*.log

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
